:root {
  color-scheme: light;

  --bg: 250 250 250;
  --fg: 17 17 17;
  --muted: 90 90 90;
  --border: 234 234 234;

  --card: 255 255 255;
  --card-fg: 17 17 17;

  --primary: 17 17 17;
  --primary-fg: 255 255 255;

  --danger: 220 38 38;
  --danger-fg: 255 255 255;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --bg: 0 0 0;
  --fg: 245 245 245;
  --muted: 163 163 163;
  --border: 38 38 38;

  --card: 15 15 15;
  --card-fg: 245 245 245;

  --primary: 245 245 245;
  --primary-fg: 0 0 0;

  --danger: 248 113 113;
  --danger-fg: 11 11 11;
}
