@import "tailwindcss";
@config "../tailwind.config.ts";
@import "./styles/tokens.css";
@import "./styles/themes.css";

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;
  color: rgb(var(--fg));
  background-color: rgb(var(--bg));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

.filter-search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.filter-search-input::-ms-clear {
  display: none;
}
